body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

h2 {
    background: #34495e;
    color: white;
    padding: 15px;
}

.controls {
    margin: 10px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

button {
    background: #3498db;
    color: white;
}

#map {
    height: 500px;
    margin: 10px;
    border-radius: 10px;
}